/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom center;
}

.main-visual-text {
  font-size: 20px;
  padding: 20px 20px; /* 上側の内側余白で垂直方向の位置を調整 */
}

.blog-box {
  width: 840px;
  margin: 50px auto;
}

.blog {
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}
